@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-inter);
  @apply text-bone-white;
}

.logo {
  font-family: var(--font-permanent-marker);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
