@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-inter);
  @apply text-bone-white;
}

.logo {
  font-family: var(--font-permanent-marker);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .shadcn-form {
    @apply px flex flex-col gap-[20px] border-bone-white border-opacity-40 bg-blue-dark py-[20px];
  }

  .error {
    @apply w-full text-red-400;
  }

  .date-button {
    @apply w-full border-2 border-bone-white border-opacity-40;
  }
}

@layer utilities {
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(96%) sepia(7%) saturate(469%) hue-rotate(342deg)
      brightness(95%) contrast(92%);
    cursor: default; /* Default cursor */
  }

  input[type="time"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .px {
    @apply px-[12px] sm:px-[25px];
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #e5e7eb;
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 4px;
  }
}
